.container{
  border: 1px solid gray;
  display: inline-block;
  width: 535px;
  height: 660px;
  border-radius: 5px;
  margin: 25px 0px 25px 200px;
  h1{
    color: white;
    margin: 0px;
    font-size: 25px;
    padding: 25px 25px 25px 25px;
    font-weight: lighter;
    background-color: rgb(62,138,204);
  }
  .submit-form{
    padding: 10px 0px 10px 0px;
    position: relative;
    .form-area{
      text-align: center;
      .Box{
        position: relative;
        select{
          width: 515px;
          margin: 10px 0px 10px 0px;
          height: 30px;
          box-sizing: border-box;
          background-color: white;
          position: relative;
          border: 1px solid lightgray;
        }
        input{
          width: 480px;
          padding: 5px 5px 5px 26px;
          margin: 10px 0px 10px 0px;
          border-radius: 5px;
          border: 1px solid lightgray;
          position: relative;
          }
        textarea{
          width: 480px;
          height: 99px;
          padding: 5px 5px 5px 26px;
          margin: 10px 0px 10px 0px;
          border-radius: 5px;
          border: 1px solid lightgray;
          position: relative;
        }
        .fa-user{
          position: absolute;
          top: 16px;
          left: 20px;
        }
        .fa-envelope{
          position: absolute;
          top: 16px;
          left: 20px;
        }
        .fa-globe{
          position: absolute;
          top: 16px;
          left: 20px;
        }
        .fa-comments{
          position: absolute;
          top: 16px;
          left: 20px;
        }
        .fa-mobile-phone{
          position: absolute;
          top: 16px;
          left: 20px;
        }
        .fa-phone{
          position: absolute;
          top: 16px;
          left: 20px;
        }
      }
    }
  }
}
  nav{
    background-color: rgb(200,222,241);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    button{
      border: none;
      background-color: rgb(62,138,204);
      color: white;
      margin: 25px;
      padding: 10px;
      font-size: 14px;
      border-radius: 5px;
    }
}
